<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>起点点击错误或页面没同步，请<a href='javascript:f5()'>刷新</a></h4>
    <p><a href='https://github.com/WoeOm/you_jump_i_jump' target='_blank'>https://github.com/WoeOm/you_jump_i_jump</a></p>
    <div id='screencap_box'>
        <img id='screencap'  onclick='jump(event)' width=300 src='/images/jump_screencap/screencap.png'/>
    </div>
    <div id='cv_box'>
        <img id='screencap_start' width=150 src='/images/jump_screencap/resultStart.png'/>
        <img id='screencap_end' width=150 src='/images/jump_screencap/resultEnd.png'/>
    </div>
    <div id='log'></div>
  </body>
  <script src='/javascripts/jquery.min.js' ></script>
  <script src='/javascripts/index.js' ></script>
</html>
